* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0e0e0;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif, 'Noto Sans KR';
}

:root {
    --color-primary: #6C63FF;
    --color-text-primary: #333333;
    --color-text-secondary: #888888;
    --color-background: #fff;
    --color-border: #eeeeee;
    --app-footer-height: 64px;
}